.cooperation-button {
    width: 263px;
    height: 60px;
    background-color: $accent;
    color: #000;
    border: none;
    border-radius: 10px;
    font-family: versus-my, sans-serif;
    font-weight: 900;
    font-size: 16px;
    transition: all 0.3s;
    cursor: pointer;
}

.cooperation-button:hover{
    background-color: #E37330;
    transition: all 0.3s;
}