.header,
.header-mobile {
    position: absolute;
    display: flex;
    align-items: center;
    z-index: 150;
    top: 0;
    color: #fff;
    height: 13vh;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    background-image: linear-gradient( to bottom, rgb(0, 0, 0, 0.5) 40%, rgba(255,255,255,0));	
    
}

.header-mobile {
    display: none;
}

.header-row {
    height: 100%;
}

.header-logo {
    height: 100%;
    display: flex;
    align-items: center;
}

.header-logo img {
    height: 9vh;
}

.header-menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.menu {
    width: 100%;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-family: roboto-my, sans-serif;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 12px;
    cursor: pointer;
    transition: all 0.3s;

    li:hover {
        color: $accent;
        transition: all 0.3s;
    }
}

.menu-item a {
    text-decoration: none;
    color: #fff;

    &:hover {
        color: $accent;
        transition: all 0.3s; 
    }
}

.menu-item__accent {
    color: $accent;
}
