.landing-advantages {
    justify-content: center;
}

.advantages__title {
    font-family: versus-my, sans-serif;
    font-weight: 900;
    font-size: 20px;
    color: $accent;
    margin-top: 95px;
    width: 100%;
    text-align: center;
}

.advantages__subtitle {
    display: flex;
    justify-content: center;
    font-family: versus-my, sans-serif;
    font-size: 24px;
    color: #fff;

    .tab__img {
        
        display: flex;
        align-items: center;    
    }
}

.advantages__descr {
    font-family: roboto-my, sans-serif;
    font-weight: 400;
    font-size: 14px;
    text-align: center;
    width: 590px;
    margin: 24px auto;
    
}

.advantages__img {

    width: 100%;
    margin-bottom: 40px;
    text-align: center;

    img {
        height: 207px;
    }
}

.advantages-items {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
    
}