.modal_age {
    // display: none;
}

#info_age_modal {
    width: 570px;
    background: #ffd500;
    padding: 30px;
    border-radius: 20px;
}

.modal_title {
    text-align: center;
    font-family: versus-my, sans-serif;
    font-size: 36px;
    text-transform: uppercase;
    color: #000;
}

.modal_subtitle {
    text-align: center;
    font-family: roboto-my, sans-serif;
    font-weight: 500;
    color: #000;
    font-size: 18px;
    text-transform: uppercase;
}

.modal_age_text {
    font-family: roboto-my, sans-serif;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: bold;
    color: #000;
    margin-bottom: 10px;
    text-align: center;
}

.modal_age_but {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.modal_but_yes {
    margin-right: 15px;
}

.modal_but_yes,
.modal_but_no {
    width: 180px;
    height: 60px;
    border: 1px solid #000;
    border-radius: 5px;
    line-height: 60px;
    text-align: center;
    cursor: pointer;
    font-family: roboto-my, sans-serif;
    text-transform: uppercase;
    font-size: 18px;
    transition: all 0.3s;

    &:hover {
        background-color: #000;
        color: #fff;
        transition: all 0.3s;
    }
}
