.footer,
.footer-min {
    position: absolute;
    font-family: roboto-my, sans-serif;
    font-weight: 400;
    font-size: 12px;
    text-align: left;
    color: #fff;
    opacity: 0.4;
    bottom: 40px;
    width: 100vw;

    a {
        text-decoration: none;
        color: #fff;
    }
}

.footer-topline {
    border-top: 1px solid #fff;
    padding-top: 30px;
}

.footer__bottomline {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.footer__item {
    display: flex;
    align-items: center;
}

.footer__descr {
    display: flex;
    flex-direction: column;
}

.footer__img,
.footer-first__img {
    width: 24px;
    height: 24px;
    margin-right: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.footer-img__w {
    height: 40px;
    width: 40px;
}

.bottomline-img__w {
    width: 30px;
    height: 30px;
}

.footer-min {
    display: none;
}
