.slider-container {
    height: 100%;
    width: 100%;
    text-align: center;
}

.slider-img {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    position: relative;
}

.slider-img__slide {
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.slider-img__bg {
    position: relative;
    height: 105%;
    width: 105%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.bottom-decor {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30vh;
    background-image: linear-gradient( to top, rgb(0, 0, 0, 0.9) 66%, rgba(255,255,255,0));
}