.slider-text {
    position: absolute;
    z-index: 80;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    color: #fff;
}

.slider-text__slide {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.content__wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content:center;
    
}

.first-slide {
    padding-top: 180px;
}

.slider-text__wrapper {
    width: 1170px;
}

.content__subtitle {
    font-family: versus-my, sans-serif;
    font-size: 45px;
    text-align: left;
    line-height: 65px;

    span {
        font-size: 85px;
    }
}

.content__descr {
    font-family: roboto-my, sans-serif;
    font-size: 18px;
    text-align: left;
    font-weight: 400;
    margin-top: 10px;
}

.content__warn {
    margin-top: 20px;
    color: $accent;
    font-size: 12px;
    display: flex;
    width: 207px;
    justify-content: space-between;
    opacity: 0.7;
}

.warn-img {
    width: 45px;
    height: 45px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.warn-descr {
    text-align: left;
    
}

.main-img {
    height: 53vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.running-line {
    position: relative;
    width: 100vw;
    height: 130px;
    overflow: hidden;
    margin-top: 6vh;
    opacity: 0.6;
}

.line-top,
.line-bottom {
    width: 175%;
    display: flex;
    white-space: nowrap;
}

.line-top div {
    width: 100%;
    animation: running-text-left 20s linear infinite;

    img {
        height: 4vh;
        margin-right: 15px;
    }
}

.line-bottom {
    margin-top: 25px;
}

.line-bottom div {
   
    width: 100%;
    animation: running-text-right 20s linear infinite;

    img {
        height: 4vh;
        margin-right: 15px;
    }
}

.left-decor,
.right-decor {
    
    height: 85%;
    width: 300px;
    position: absolute;
    z-index: 150;
    top: 0;    
}

.left-decor {
    left: 0;
    background-image: linear-gradient( to right, rgb(0, 0, 0, 0.9) 40%, rgba(255,255,255,0));
}

.right-decor {
    right: 0;
    top: 0;
    background-image: linear-gradient( to left, rgb(0, 0, 0, 0.9) 40%, rgba(255,255,255,0));	
}

.text__title {
    font-family: versus-my, sans-serif;
    font-weight: 900;
    font-size: 36px;
    color: $accent;
    margin-top: 10vh;
}

.text__subtitle {
    display: flex;
    justify-content: center;
    font-family: versus-my, sans-serif;
    font-size: 48px;
    color: #fff;

    .tab__img {
        
        display: flex;
        align-items: center;    
    }
    
}

.subtitle-name {
    margin: 0 20px;
}

.text__descr {
    font-family: roboto-my, sans-serif;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
    width: 590px;
    margin: 2.5vh auto;
}

.text__img {
    margin-bottom: 5vh;

    img {
        height: 32vh;
    }
}

.advantages {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 69%;
    margin: 0 auto;
}

.advantages-item {
    display: flex;
    width: 180px;
    margin-bottom: 5vh;

}

.advantages-item__img {
    width: 4vh;
    height: 4.5vh;
    margin-right: 20px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.advantages-item__descr {
    text-align: left;
    font-family: roboto-my, sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #fff;
}

.cooperation {
    text-align: left;
}

.cooperation-title {
    display: flex;
    justify-content: start;
    align-items: center;
    font-family: versus-my, sans-serif;
    font-weight: 900;
    font-size: 48px;
    line-height: 1;
    color: #fff;

    .tab__img {
        height: 100%;
        display: flex;
        align-items: center;    
    }
}

.cooperation-title__name {
    margin-right: 20px;    
}

.cooperation-subtitle {
    font-family: versus-my, sans-serif;
    text-align: left;
    font-size: 36px;
    color: $accent; 
}

.cooperation-descr {
    font-family: roboto-my, sans-serif;
    text-align: left;
    font-weight: 400;
    font-size: 20px;
    color: #fff;
    margin-top: 20px;
    margin-bottom: 30px;
}






//animation

@keyframes running-text-left {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes running-text-right {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0%);
    }
}
