.slider-text {
    position: absolute;
    z-index: 80;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    color: #fff;
}

.slider-text__slide {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.slider-text__wrapper {
    width: 1170px;
}

.content__subtitle {
    font-family: versus-my, sans-serif;
    font-size: 45px;
    text-align: left;
    line-height: 65px;

    span {
        font-size: 85px;
    }
}

.content__descr {
    font-family: roboto-my, sans-serif;
    font-size: 18px;
    text-align: left;
    font-weight: 400;
    margin-top: 10px;
}

.content__warn {
    margin-top: 20px;
    color: $accent;
    font-size: 12px;
    display: flex;
    width: 225px;
    justify-content: space-between;
}

.warn-img {
    width: 45px;
    height: 45px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.warn-descr {
    text-align: left;
}

.main-img {
    height: 455px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.running-line {
    position: relative;
    width: 100vw;
    height: 130px;
    overflow: hidden;
    margin-top: 10px;
}

.line-top,
.line-bottom {
    width: 175%;
    display: flex;
    white-space: nowrap;
}

.line-top div {
    width: 100%;
    animation: running-text-left 20s linear infinite;

    img {
        height: 40px;
        margin-right: 15px;
    }
}

.line-bottom div {
    margin-top: 25px;
    width: 100%;
    animation: running-text-right 20s linear infinite;

    img {
        height: 40px;
        margin-right: 15px;
    }
}

.left-decor,
.right-decor {
    
    height: 85%;
    width: 150px;
    position: absolute;
    z-index: 150;
    top: 0;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
    background: rgba(84, 77, 126, 0.75);
    
}

.left-decor {
    left: 0;
}

.right-decor {
    right: 0;
    top: 0;
}

//animation

@keyframes running-text-left {
    0% {
        transform: translateX(0%);
    }
    100% {
        transform: translateX(-100%);
    }
}

@keyframes running-text-right {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0%);
    }
}
