@media (max-width: 1600px) {
	.content__subtitle  {
		font-size: 40px;

		span {
			font-size: 78px;
		}
	}

	.tab__items {
		font-size: 32px;
	}

	.product-name {
		font-size: 22px;
	}

	.product-descr {
		font-size: 14px;
	}

	.text__title {
		font-size: 34px;
	}

	.text__subtitle {
		font-size: 44px;
	}

	.text__descr {
		font-size: 16px;
	}

	.cooperation-title {
		font-size: 44px;
	}

	.cooperation-subtitle {
		font-size: 32px;
	}

	.cooperation-descr {
		font-size: 18px;
	}

	.cooperation-button {
		width: 250px;
		height: 55px;
		font-size: 14px;
	}








}





@media (max-width: 1400px) {
	.header {
		height: 108px;
	}

	.header-logo {
		img {
			height: 72px;
		}
	}

	.menu {
		font-size: 11px;
	}
	
	.content__wrapper {
		justify-content: start;
		padding-top: 36px;
	}

	.content__subtitle {
		font-size: 33px;

		span {
			font-size: 64px;
			line-height: 0.6;
		}
	}

	.content__descr {
		font-size: 16px;
		margin-top: 0;
	}

	.slider-text__img {
		text-align: center;	
		
	}	

	.main-img {
		height: 410px;
		margin-left: 23px;
	}

	.content__warn {
		margin-top: 65px;
	}

	.first-slide {
		padding-top: 180px;
	}

	.running-line {
		height: 100px;
		margin-top: 10vh;		
	}

	.line-bottom {
		margin-top: 15px;
	}		

	.line-top div {
		img {
			height: 25px;
		}	
	}

	.line-bottom div {
		img {
			height: 25px;
		}
	}

	.running-line {
		display: none;
	}

	.tab__items {
		font-size: 28px;
	}

	.product-wrapper {
		height: 73vh;		
	}

	.product-slider {
		padding-top: 1vh;
	}

	.product-tab {
		margin-top: 12vh;
	}

	.product-slide {
		flex-direction: column;
	}

	.product-card {
		display: flex;
		width: 100%;
		height: 40%;
	}

	.product-descr__wrapper {
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	.product-property {
		flex-wrap: nowrap;
	}

	.property-item {
		margin-bottom: 0;
	}

	.product-img {
		height: 35vh;
	}

	.product-name {
		font-size: 20px;
	}

	.product-descr {
		font-size: 14px;
	}	

	.text__title {
		font-size: 28px;
	}

	.text__subtitle {
		font-size: 32px;
		line-height: 1.3;
	}

	.text__descr {
		margin-bottom: 1vh;
	}

	.advantages-item__descr {
		font-size: 14px;
	}

	.advantages {
		padding-left: 55px;
	}

	.advantages-item {
		width: 160px;
	}

	.text__img img {
		height: 26vh;
	}

	.cooperation-title {
		font-size: 34px;
	}

	.cooperation-subtitle {
		font-size: 28px;
	}

	.cooperation-descr {
		font-size: 16px;
	}

	.cooperation-button {
		width: 200px;
		height: 50px;
		font-size: 12px;
	}

	.footer {
		bottom: 0px;		
		background: rgba($color: #000000, $alpha: 0.8);
		height: 10vh;
	}

	.footer-topline {
		padding-top: 20px;
	}


	

	
}