@media (max-width: 1400px) {
	.header {
		height: 125px;
	}

	.header-logo {
		img {
			height: 86px;
		}
	}

	.menu {
		font-size: 11px;
	}

	.content__subtitle {
		font-size: 36px;

		span {
			font-size: 66px;
		}
	}

	.content__descr {
		font-size: 16px;
	}

	.main-img {
		height: 350px;
	}

	.first-slide {
		padding-top: 180px;
	}

	.running-line {
		height: 100px;
	}

	.running-line {
		margin-top: 0;
	}

	.line-top div {
		img {
			height: 25px;
		}
	
	}
	
	.line-bottom div {
		img {
			height: 25px;
		}
	}

	
}