@media (max-width: 1600px) {
	.content__subtitle  {
		font-size: 40px;

		span {
			font-size: 78px;
		}
	}

	.tab__items {
		font-size: 32px;
	}

	.product-name {
		font-size: 22px;
	}

	.product-descr {
		font-size: 14px;
	}

	.text__title {
		font-size: 34px;
	}

	.text__subtitle {
		font-size: 44px;
	}

	.text__descr {
		font-size: 16px;
	}

	.cooperation-title {
		font-size: 44px;
	}

	.cooperation-subtitle {
		font-size: 32px;
	}

	.cooperation-descr {
		font-size: 18px;
	}

	.cooperation-button {
		width: 250px;
		height: 55px;
		font-size: 14px;
	}








}





@media (max-width: 1400px) {
	.header {
		height: 108px;
	}

	.header-logo {
		img {
			height: 72px;
		}
	}

	.menu {
		font-size: 11px;
	}
	
	.content__wrapper {
		justify-content: start;
		padding-top: 36px;
	}

	.content__subtitle {
		font-size: 33px;

		span {
			font-size: 64px;
			line-height: 0.6;
		}
	}

	.content__descr {
		font-size: 16px;
		margin-top: 0;
	}

	.slider-text__img {
		text-align: center;	
		
	}

	.line-bottom {
		margin-top: 15px;
	}
	

	

	.main-img {
		height: 410px;
		margin-left: 23px;
	}

	.content__warn {
		margin-top: 65px;
	}

	.first-slide {
		padding-top: 180px;
	}

	.running-line {
		height: 100px;
		margin-top: 10vh;
	}

	

	.line-top div {
		img {
			height: 25px;
		}	
	}

	.line-bottom div {
		img {
			height: 25px;
		}
	}

	.tab__items {
		font-size: 28px;
	}

	.product-slider {
		padding-top: 3.6vh;
	}

	.product-tab {
		margin-top: 12vh;
	}

	.product-img {
		height: 33vh;
	}

	.product-name {
		font-size: 20px;
	}

	.product-descr {
		font-size: 14px;
	}

	.text__title {
		font-size: 30px;
	}

	.text__subtitle {
		font-size: 36px;
	}

	.text__descr {
		margin-bottom: 1vh;
	}

	.advantages-item__descr {
		font-size: 14px;
	}

	.advantages {
		padding-left: 55px;
	}

	.advantages-item {
		width: 160px;
	}

	.text__img img {
		height: 26vh;
	}

	.cooperation-title {
		font-size: 38px;
	}

	.cooperation-subtitle {
		font-size: 28px;
	}

	.cooperation-descr {
		font-size: 16px;
	}

	.cooperation-button {
		width: 240px;
		height: 55px;
		font-size: 14px;
	}

	.footer {
		bottom: 20px;
		padding-top: 20px;
	}


	

	
}